// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

$base_color: if($variant == 'light', #f7f9fa, $base_color) ; //#e2e9ed
$selected_fg_color: #eeeeec;
$selected_bg_color: #829acb;
$bg_color: if($variant == 'light', $light_3, $bg_color);
$headerbar_bg_color: if($variant == 'light', darken($light_4, 1.0), mix(black, $bg_color, 49%));
$sidebar_bg_color: if($variant == 'light', $light_5, transparentize(mix($selected_bg_color, $bg_color, 20%), 0.8));
$dark_fill: if($variant == 'light', $light_2, $dark_fill);
$drop_target_color: $selected_bg_color;

$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 30%));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$fill_color: $selected_bg_color;
$fill_hover_color: mix($selected_bg_color, $text_color, 90%);
$fill_active_color: mix($selected_bg_color, black, 80%);
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: #ff00ff;
$progress_border_color: #ff0000;
$checkradio_bg_color: $selected_bg_color;

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));
$base_solid_view_selected_color: $selected_bg_color;

$fill_text_color: $selected_fg_color;
$checkradio_fg_color: $selected_fg_color;
$slider_color: mix($base_color, $light_1, 80%);
$slider_hover_color: $selected_fg_color;

$button_borders_color: if($variant == 'light', darken($bg_color, 5%), darken($bg_color, 10%));
$borders_edge: if($variant == 'light', #ff00ff, transparentize($fg_color, 0.93));
$top_hilight: if($variant == 'light', $light_3, $top_hilight);

$menu_color: if($variant == 'light', $light_1, $menu_color);
$popover_bg_color: $menu_color;
$view_hover_color: $selected_bg_color;
$view_active_color: $selected_bg_color;
$view_selected_color: $selected_bg_color;
$view_selected_hover_color: $selected_bg_color;
$view_selected_active_color: $selected_bg_color;

$backdrop_base_color: $base_color;
$backdrop_text_color: $text_color;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: $fg_color;
$backdrop_insensitive_color: $insensitive_bg_color;
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_borders_color: $borders_color;
$backdrop_dark_fill: $dark_fill;
$backdrop_sidebar_bg_color: $sidebar_bg_color;
$backdrop_scrollbar_bg_color: $scrollbar_bg_color;
$backdrop_scrollbar_slider_color: $scrollbar_slider_color;
$backdrop_menu_color: $menu_color;
