// Drawing mixins

// generic drawing of more complex things

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
//
// headerbar fill
//
// $c:  base color
// $hc: top highlight color
// $ov: a background layer for background shorthand (hence no commas!)
//
  $gradient: linear-gradient(to top, darken($headerbar_color, 2%), lighten($headerbar_color, 1%));

  @if $variant == 'dark' { $gradient: linear-gradient(to top, lighten($headerbar_color, 4%), lighten($headerbar_color, 6%)); }

  @if $ov != none { background: $c $ov, $gradient; }
  @else { background: $c $gradient; }

  box-shadow: inset 0 1px $hc; // top highlight
}
