// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

//$base_color: if($variant == 'light', lighten($light_1, 5%), $base_color);
$base_color: if($variant == 'light', $bg_color, $base_color);
$base_color: if($variant == 'light', #e6e6e6, $base_color);
$base_color: if($variant == 'light', #ededed, $base_color);
$base_color: if($variant == 'light', #f7f9fa, $base_color);

$selected_fg_color: #eeeeec;
$selected_bg_color: #829acb;
$bg_color: if($variant == 'light', $light_3, $bg_color);
$fg_color: if($variant == 'light', #2e3436, $light_1);
$text_color: $fg_color;
$headerbar_color: if($variant == 'light', darken($light_4, 1.0), mix(black, $bg_color, 49%));
$sidebar_bg_color: if($variant == 'light', $light_5, transparentize(mix($selected_bg_color, $bg_color, 20%), 0.8));
$sidebar_bg_color: if($variant == 'light', $light_5, $dark_5);
$entry_bg_color: if($variant == 'light', lighten($light_1, 4%),  darken($bg_color, 4%));
$destructive_color: mix($red_2, $bg_color, 70%);
$drop_target_color: $selected_bg_color;


$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 30%));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$fill_color: $selected_bg_color;
$fill_hover_color: mix($selected_bg_color, $text_color, 90%);
$fill_active_color: mix($selected_bg_color, black, 80%);
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;

//$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_bg_color: transparentize($scrollbar_bg_color, 0.6);
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));
$base_solid_view_selected_color: $selected_bg_color;

$fill_text_color: $selected_fg_color;
$checkradio_fg_color: $selected_fg_color;
$slider_color: mix($base_color, $light_1, 80%);
$slider_hover_color: $selected_fg_color;

$button_borders_color: if($variant == 'light', darken($bg_color, 15%), darken($bg_color, 10%));
$button_borders_color: if($variant == 'light', darken($bg_color, 15%), lighten($base_color, 10%));
$button_borders_color: if($variant == 'light', darken($bg_color, 15%), $borders_color);
//$button_borders_color: green;

$borders_color: if($variant == 'light', darken($bg_color, 5%), darken($bg_color, 10%));
$borders_color: if($variant == 'light', darken($bg_color, 15%), lighten($bg_color, 10%));
//$borders_color: orange;

$entry_border_color: if($variant == 'light', darken($button_borders_color, 2%), lighten($button_borders_color, 2%));
$alt_borders_color: if($variant == 'light', darken($button_borders_color, 8%), darken($button_borders_color, 8%));
$top_hilight: if($variant == 'light', $light_3, $top_hilight);
$borders_edge: if($variant == 'light', transparentize($borders_color, 0.9), $borders_edge);

$dark_fill: if($variant == 'light', $light_2, mix($button_borders_color, $bg_color, 50%)); //bg notebooks
$dark_fill: if($variant == 'light', darken($bg_color, 10%), lighten($bg_color, 10%));
$dark_fill: mix($button_borders_color, $bg_color, 80%);
$dark_fill: if($variant == 'light', lighten($bg_color, 30%), $dark_fill);
$dark_fill: if($variant == 'light', darken($base_color, 30%), $dark_fill);
$dark_fill: if($variant == 'light', darken($light_4, 5%), mix($button_borders_color, $bg_color, 50%)); //bg notebooks
$dark_fill: transparent;

$menu_color: if($variant == 'light', $light_1, $menu_color);
$popover_bg_color: $menu_color;
$view_hover_color: $selected_bg_color;
$view_active_color: $selected_bg_color;
$view_selected_color: $selected_bg_color;
$view_selected_hover_color: $selected_bg_color;
$view_selected_active_color: $selected_bg_color;

$backdrop_base_color: $base_color;
$backdrop_text_color: $text_color;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: $fg_color;
$backdrop_insensitive_color: $insensitive_bg_color;
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_borders_color: $borders_color;
$backdrop_dark_fill: $dark_fill;
$backdrop_sidebar_bg_color: $sidebar_bg_color;
$backdrop_scrollbar_bg_color: $scrollbar_bg_color;
$backdrop_scrollbar_slider_color: $scrollbar_slider_color;
$backdrop_menu_color: $menu_color;

//$bg_color: green;
