// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @if $c == none { @return none; }
  @else { @return 0 1px $c; }
}

@mixin _shadows($list...) {
//
// Helper mixin to stack up to box-shadows;
//
  $shadows: null;

  @each $shadow in $list {
    @if $shadow!=none { $shadows: $shadows, $shadow; }
  }

  box-shadow: $shadows;
}

// entries
@function entry_focus_border($fc:$selected_bg_color) {
  @return $fc;
}

@function entry_focus_shadow($fc:$selected_bg_color) { @return inset 0 0 0 1px $fc; }

@mixin entry($t, $fc:$selected_bg_color, $edge: none) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, backdrop, backdrop-insensitive, osd, osd-focus, osd-backdrop;
//

  $_blank_edge: if($edge == none, none, 0 1px transparentize($edge, 1));
  $_entry_edge: if($edge == none, none, _widget_edge($edge));

  @if $t==normal {
    color: $text_color;
    border-color: $entry_border_color;
    background-color: $entry_bg_color;
    @include _shadows(entry_focus_shadow(transparentize($fc, 1)), $_entry_edge);
    // for the transition to work the number of shadows in different states needs to match, hence the transparent shadow here.
  }
  @if $t==focus {
    @include _shadows(entry_focus_shadow($fc), $_entry_edge);
    border-color: entry_focus_border($fc);
  }
  @if $t==insensitive {
    color: $insensitive_fg_color;
    border-color: $button_borders_color;
    background-color: $insensitive_bg_color;
    box-shadow: $_entry_edge;
  }
  @if $t==osd {
    color: $osd_text_color;
    border-color: $osd_borders_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-focus {
    color: $osd_text_color;
    border-color: $selected_bg_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: entry_focus_shadow($fc);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-insensitive {
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: $osd_insensitive_bg_color;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

// buttons

@function _border_color($c, $darker: false) {
  @if $darker == true { @return darken($c, 20%); }
  @else { @return darken($c, 10%); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>95% { @return white; }
  @else if lightness($c)>90% { @return transparentize(white, 0.2); }
  @else if lightness($c)>80% { @return transparentize(white, 0.5); }
  @else if lightness($c)>50% { @return transparentize(white, 0.8); }
  @else if lightness($c)>40% { @return transparentize(white, 0.9); }
  @else { @return transparentize(white, 0.93); }
}

$_default_button_c: lighten($bg_color,2%);
@mixin button($t, $c:$_default_button_c, $tc:$fg_color, $edge: none, $backimage: null) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
// $backimage: additional background-image behind the default one
//             (for the button.circular hack)
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//
  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));
  $_button_shadow: 0 1px rgba(black, 0.05);
  $_accent_button_borders: if($variant == 'light', lighten($c, 2%), darken($c, 12%));

  @if $t==normal {
  //
  // normal button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c!=$_default_button_c, _border_color($_accent_button_borders, true), $button_borders_color); //tint if not default button color
    border-bottom-color: if($c!=$_default_button_c, _border_color($_accent_button_borders, true), $alt_borders_color);
    background-image: if($c!=$_default_button_c, linear-gradient(to top, darken($c, 4%) 2px, $c),
                                                 if($variant == 'light', linear-gradient(to top, darken($c, 4%) 2px, $c),
                                                 linear-gradient(to top, darken($c,1%) 2px, lighten($c, 3%)))), $backimage;
    @include _shadows(inset 0 1px $_hilight_color, $_button_edge, $_button_shadow);
  }

  @if $t==incognito-normal {
  //
  // normal button (for ephy-incognito)
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($variant == 'light', darken($c, 18%), darken($c, 10%));
    border-bottom-color: if($variant == 'light', darken($c, 24%), darken($c, 18%));
    background-image: if($variant == 'light', linear-gradient(to top, darken($c, 4%) 2px, $c),
                                              linear-gradient(to top, darken($c,1%) 2px, lighten($c, 3%))), $backimage;
    @include _shadows(inset 0 1px $_hilight_color, $_button_edge, $_button_shadow);
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $_default_button_c, _border_color($_accent_button_borders, true), $button_borders_color);
    border-bottom-color: if($c != $_default_button_c, _border_color($_accent_button_borders, true), $alt_borders_color);
    background-image: if($c!=$_default_button_c, linear-gradient(to top, darken($c,10%) 2px, darken($c,6%)),
                                                 if($variant == 'light', linear-gradient(to top, darken($c,10%) 2px, darken($c,6%)),
                                                 linear-gradient(to top, darken($c,5%) 2px, darken($c, 1%)))), $backimage;
    @include _shadows(inset 0 1px $_hilight_color, $_button_edge, $_button_shadow);
  }

  @if $t==incognito-hover {
  //
  // hovered button (for ephy-incognito)
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($variant == 'light', darken($c, 18%), darken($c, 10%));
    border-bottom-color: if($variant == 'light', darken($c, 24%), darken($c, 18%));
    background-image: if($variant == 'light', linear-gradient(to top, darken($c,10%) 2px, darken($c,6%)),
                                              linear-gradient(to top, darken($c,5%) 2px, darken($c, 1%))), $backimage;
    @include _shadows(inset 0 1px $_hilight_color, $_button_edge, $_button_shadow);
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $_default_button_c, _border_color($_accent_button_borders, true), darken($button_borders_color, 3%));
    border-top-color: if($c != $_default_button_c, _border_color($_accent_button_borders, true), darken($button_borders_color, 8%));
    background-image: if($c!=$_default_button_c, image(darken($c, 14%)),
                      if($variant == 'light', image(darken($c, 14%)), image(darken($c, 9%))));
    box-shadow: none;
  }

  @else if $t==incognito-active {
  //
  // pushed button (for ephy-incognito)
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($variant == 'light', darken($c, 18%), darken($c, 10%));
    border-top-color: if($variant == 'light', darken($c, 24%), darken($c, 18%));
    background-image: if($variant == 'light', image(darken($c, 14%)), image(darken($c, 9%)));
    box-shadow: none;
  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    $_bg: if($c != $bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);

    color: if($tc != $fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
    border-color: if($c != $_default_button_c, _border_color($_accent_button_borders, true), $insensitive_borders_color);
    background-image: image($_bg);
    text-shadow: none;
    -gtk-icon-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 6%));
    $_bc: if($c != $_default_button_c, _border_color($_accent_button_borders, true), $insensitive_borders_color);

    color: if($c != $bg_color, mix($tc, $_bg, 60%), $insensitive_fg_color);
    border-color: $_bc;
    background-image: image($_bg);
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    box-shadow: none;
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c != $_default_button_c, transparentize($c, 0.5), $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c != $_default_button_c, transparentize($c, 0.3), darken($osd_bg_color, 10%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c != $_default_button_c, $c, darken($osd_bg_color, 20%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($osd_insensitive_bg_color);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    background-image: none;

    @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
  @else if $t==undecorated-hover {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    background-color: $view_hover_color;
  }
  @else if $t==undecorated-active {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    background-color: $view_active_color;
  }
  @else if $t==undecorated-checked {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    background-color: $view_selected_color;
  }
  @else if $t==undecorated-checked-hover {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    background-color: $view_selected_hover_color;
  }
}

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
//
// headerbar fill
//
// $c:  base color
// $hc: top highlight color
// $ov: a background layer for background shorthand (hence no commas!)
//
  $gradient: linear-gradient(to top, darken($headerbar_color, 2%), lighten($headerbar_color, 1%));

  @if $variant == 'dark' { $gradient: linear-gradient(to top, lighten($headerbar_color, 4%), lighten($headerbar_color, 6%)); }

  @if $ov != none { background: $c $ov, $gradient; }
  @else { background: $c $gradient; }

  box-shadow: inset 0 1px $hc; // top highlight
}

@mixin overshoot($p, $t:normal, $c:$fg_color) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal, backdrop
//

  $_small_gradient_length: 5%;
  $_big_gradient_length: 100%;

  $_position: center top;
  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p==bottom {
    $_position: center bottom;
    $_linear_gradient_direction: to top;
  }

  @else if $p==right {
    $_position: right center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  @else if $p==left {
    $_position: left center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $c;
  $_big_gradient_color: $c;

  @if $c==$fg_color {
    $_small_gradient_color: darken($borders_color, 10%);
    $_big_gradient_color: $fg_color;

    @if $t==backdrop { $_small_gradient_color: $backdrop_borders_color; }
  }

  $_small_gradient: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.5,
                                  to($_small_gradient_color),
                                  to(transparentize($_small_gradient_color, 1)));

  $_big_gradient: -gtk-gradient(radial,
                                $_position, 0,
                                $_position, 0.6,
                                from(transparentize($_big_gradient_color, 0.93)),
                                to(transparentize($_big_gradient_color, 1)));

  @if $t==normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  @else if $t==backdrop {
    background-image: $_small_gradient;
    background-size: $_small_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}

/***************************
 * Check and Radio buttons *
 ***************************/

 @mixin check($t, $c:$bg_color, $tc:$fg_color, $checked: false) {
  // Check/Radio drawing function
  //
  // $t:        check/radio type,
  // $c:        base button color for colored* types
  // $tc:       optional text color for colored* types
  // $checked:  bool to chose between checked/unchecked
  //
  // possible $t values:
  // normal, hover, active, insensitive, backdrop, backdrop-insensitive

  $_border_color: if($c==$checkradio_bg_color, 
                    if($variant == 'light', darken($c, 10%), darken($c, 30%)), 
                    if($variant == 'light', $alt_borders_color, $button_borders_color));
  $_dim_border_color: transparentize($_border_color, if($variant == 'light', 0.3, 0.7));

  @if $t==normal  {
    background-clip: if($variant == 'light', border-box, padding-box);
    background-image: if($checked,  image($c),
                                    image(lighten($c, 5%)));
    border-color: $_border_color;
    border-bottom-color: darken($_border_color, 5%);
    box-shadow: 0 1px transparentize(black, 0.9), 
                inset 0 1px if($checked , transparentize(white, 0.85),
                            if($variant == 'light', transparent, transparentize(white, 0.95)));
    color: $tc;
    -gtk-icon-shadow: 0 1px transparentize(black, 0.85);
  }

  @if $t==hover {
    border-color: if($checked, if($variant == 'light', darken($c, 16%), darken($c, 35%)), $_border_color);
    border-bottom-color: if($checked, if($variant == 'light', darken($c, 19%), darken($c, 38%)), darken($_border_color, 5%));
    background-image: if($checked, image(darken($c, 8%)),
                      if($c == white, image(darken($c, 5%)), image(lighten($c, 10%))));
  }

  @if $t==active {
    border-color: if($checked, if($variant == 'light', darken($c, 16%), darken($c, 35%)), darken($_border_color, 3%));
    border-top-color: if($checked, if($variant == 'light', darken($c, 19%), darken($c, 38%)), darken($_border_color, 8%));
    background-image: if($checked, image(darken($c, 14%)),
                      if($variant == 'light', image(darken($c, 14%)), image(darken($c, 9%))));
    box-shadow: none;
  }

  @if $t==insensitive {
    box-shadow: none;
    -gtk-icon-shadow: none;
    color: $insensitive_fg_color;
    border-color: $insensitive_borders_color;
    background-image: image($insensitive_bg_color);
  }
}

