// _______
// borders
// -------

frame {
  border-color: $button_borders_color;
  /*
  border-color: red;
  */
  border {
    border: $button_borders_color;
    /*
    border-color: blue;
    */
  }
}
scrolledwindow.frame > viewport.frame,
scrolledwindow.view > viewport.frame {
    border-color: $sidebar_bg_color;
    /*
    border-color: fuchsia;
    */
}
window :not(notebook).frame {
    border-radius: 5px;
    border-color: transparent;
    /*
    border: 1px solid red;
    */
}
window notebook.frame {
    border-radius: 0px;
    border: none;
    /*
    border: 1px solid red;
    */
}
messagedialog .frame,
dialog .frame {
    /*
    padding: 1px;
    */
    border-radius: 5px;
    border-color: $borders_color;
    /*
    background-color: $base_color;
    border-color: red;
    */
}

textview.view {
  background-color: inherit;
  /*
  background-color: transparent;
  */
  text {
    border-radius: 5px;
    border: 1px solid transparentize($borders_color, 0.5);
    /*
    border-color: green;
    */
  }
}

dialog notebook,
window.background > notebook.frame,
dialog notebook.frame {
  border-radius: 5px;
  border: 1px solid transparentize($borders_color, 0.7);
  /*
  border-color: red;
  */
  header {
    &.top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &.bottom {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &.right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  notebook,
  notebook.frame {
    border: none;
    /*
    border-color: blue;
    */
    header {
      &.top, &.bottom, &.left, &.right {
        border-radius: 0px;
      }
    }
  }
}

dialog :not(notebook) frame scrolledwindow.frame {
  border-radius: 5px;
  padding: 1px;
  /*
  border-color: orange;
  */
}

dialog notebook scrolledwindow.frame,
window:not(.nautilus-window) notebook scrolledwindow.frame {
  padding: 1px;
  border-radius: 5px;
  border: 1px solid $borders_color;
  /*
  background-color: aqua;
  border-color: red;
  */
  treeview.view,
  textview.view {
    /*
    border-color: green;
    border: 1px solid green;
    */
    text {
      border-radius: 5px;
      border: 1px solid transparent;
      /*
      border: 1px solid blue;
      border-color: blue;
      */
    }
  }
}

statusbar > frame {
    border: none;
    /*
    border: 1px solid red;
    */
}
* ~ statusbar {
  background-color: $bg_color;
}

frame > label {
    &:dir(ltr) { margin-left: 5px; }
    &:dir(rtl) { margin-right: 5px; }
}

.frame.view,
frame list,
calendar,
.calendar,
#dummy {
    border-radius: 5px;
    border: 1px solid $borders_color;
    /*
    background-color: fuchsia;
    */
}

stack > stack {
  background-color: $bg_color;
  /*
  background-color: blue;
  */
  > stack {
    background-color: $bg_color;
    /*
    background-color: red;
    */
  }
}

frame > box > box > list,
frame > frame > list,
list > row > list {
    border-radius: 5px;
    border: 1px solid $borders_color;
    /*
    background-color: blueviolet;
    */
}
viewport.frame list.frame {
    border-color: $borders_color;
    /*
    border-color: green;
    */
}

expander > box {
  border-radius: 5px;
  border: 1px solid $borders_color;
  background-color: $base_color;
  /*
  border-color: red;
  background-color: aqua;
  */
  > scrolledwindow.frame {
    border: none;
    /*
    border-color: green;
    */
  }
  > toolbar.inline-toolbar {
    margin: -1px;
    padding: 1px;
    /*
    background-color: orange;
    */
  }
}


