// ________
// selected
// --------

// hover fx/anim
row {
  // avoid useless cpu solicitations
  transition: none;
  &:hover {
    transition: none;
  }
  // keep usefull visual feedback
  &.activatable {
    &:hover:not(:selected) {
      color: $text_color;
      background-color: transparentize(mix($selected_bg_color, $bg_color, 20%), 0.7);
    }
  }
}

headerbar button.close:hover image {color: $selected_fg_color;}

selection { //text selection
  /*
  color: mix($selected_bg_color, $text_color, 20%);
  background-color: transparentize($selected_bg_color, 0.7);
  */
  color: $selected_fg_color;
  background-color: $selected_bg_color;
}

//nautilus iconview
%_nautilus_canvas_item { 
    &:selected {
      color: $selected_fg_color;
      //background-color: $base_solid_view_selected_color;
    }   
}
// sidebars 'settings' like + nautilus listview/iconview
.view,
%view,
row {
  &:selected {
    &:focus, & {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }
  }
}
// sidebar 'nautilus' like
.navigation-sidebar,
stacksidebar,
placessidebar,
stackswitcher,
expander-widget {
  row {
    &:selected {
      &.activatable, & {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }
    }
  }
}

treeview.view {
  .progressbar { // progress bar in treeviews
    box-shadow: inset 24px 24px darken($selected_bg_color, 3%);
  }
  &.trough:not(:selected) { // progress bar trough in treeviews
    box-shadow: inset 24px 24px transparentize($selected_bg_color, 0.5);
  }
  &.trough:selected { // progress bar trough in treeviews
    box-shadow: inset 24px 24px transparentize($sidebar_bg_color, 0.5);
  }
}

button.flat,
toolbutton button {
  &:hover,
  //&:prelight,
  &:checked {
    color: $selected_fg_color;
  }
}

menu,
.menu,
.context-menu {
  menuitem {
    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }
  }
}
menuitem {
  &:hover {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

popover *:hover label,
popover *:active label,
popover *:selected label {
  color: $selected_fg_color;
}
popover list.background {
  background-color: transparent;
  row {
    // keep usefull visual feedback
    &.activatable {
      &:hover:not(:selected) {
        //color: $selected_fg_color;
        background-color: $selected_bg_color;
      }
    }
  }
}


// ________________________
// primary lists / sidebars
// ------------------------

:not(.nautilus-window) > box > paned > box > stack > grid > scrolledwindow treeview.view:not(:selected),
:not(.nautilus-window) > box > paned > box > paned > box > overlay > scrolledwindow treeview.view:not(:selected),
:not(.nautilus-window) > box > paned > box,
//:not(.nautilus-window) box paned box scrolledwindow treeview.view:not(:selected),
:not(.nautilus-window) dialog box paned box scrolledwindow treeview.view:not(:selected),
#dummy0 {
    background-color: $sidebar_bg_color;
    /*
    background-color: fuchsia;
    */
}

:not(.nautilus-window) {
  grid > paned > scrolledwindow treeview.view:not(:selected) {
    background-color: $sidebar_bg_color;
    /*
    background-color: blue;
    */
  }
}

.sidebar,
stacksidebar > scrolledwindow {
    background-color: $sidebar_bg_color;
    /*
    background-color: pink;
    */
    viewport.frame {
      > list {
        border-radius: 0px;
        border: none;
        /*
        border-radius: 5px;
        border: 1px solid red;
        */
      }
    }
}

viewport > list,
stack > list,
#dummy1 {
    background-color: $sidebar_bg_color;
    /*
    background-color: orange;
    */
}

/*
:not(.nautilus-window) box paned box scrolledwindow treeview.view, //synaptic
:not(.nautilus-window) box paned scrolledwindow treeview.view,
:not(.nautilus-window) paned scrolledwindow treeview.view,
*/
paned scrolledwindow treeview.view,
#dummy2 treeview.view {
  &:not(:selected) {
    background-color: $sidebar_bg_color;
    /*
    background-color: palegreen;
    */
  }
}

scrolledwindow.frame > viewport.frame,
scrolledwindow.view > viewport.frame {
    background-color: $sidebar_bg_color;
    /*
    background-color: yellow;
    */
}


// _______________________
// secondary lists / views
// -----------------------

// background
/*
 * previously used when whole treview.view was set to $sidebar_bg_color
 * then one by one identifying wich were secondary
 * to identify how to determine a more fine grained pattern
 * 
.nautilus-window notebook > stack, //iconview
.nautilus-window treeview.view:not(:selected), //listview
:not(.nautilus-window) box paned paned box scrolledwindow treeview.view:not(:selected), //rhythmbox like
//stack > widget > box > scrolledwindow > viewport > box > frame > list,
frame > list:not(:selected),
#itemlist:not(:selected),
//viewport scrolledwindow treeview.view,
viewport scrolledwindow.frame,
#dummy4 {
    background-color: $base_color;
    //background-color: #ffffc7;
}
 */

/*
dialog notebook box scrolledwindow.frame,
window:not(.nautilus-window) notebook box scrolledwindow.frame,
*/
:not(.nautilus-window) stack scrolledwindow treeview.view:not(:selected),
#dummy3 {
    background-color: mix($sidebar_bg_color, $base_color, 40%);
    /*
    background-color: yellow;
    border: 1px solid blueviolet;
    */
}
/*
dialog .frame,
*/
window.nautilus-window stack scrolledwindow treeview.view:not(:selected),
filechooser stack scrolledwindow treeview.view:not(:selected),
#dummy {
    background-color: $base_color;
    /*
    background-color: yellow;
    border: 1px solid fuchsia;
    */
}


// ______________
// column headers
// --------------

window:not(.nautilus-window) treeview.view header button,
window.nautilus-window treeview.view header button,
%column_header_button {
  border-color: transparentize($button_borders_color, 0.5);
  font-weight: normal;
  color: $button_borders_color;
  color: transparentize($text_color, 0.5);
  &:hover {
    color: transparentize($text_color, 0.2);
  }
}
window.nautilus-window treeview.view header button {
  background-color: mix($sidebar_bg_color, $base_color, 50%);
}
window:not(.nautilus-window) treeview.view header button,
%column_header_button { //filechooser
  background-color: mix($sidebar_bg_color, $bg_color, 50%);
}


// ________
// notebook
// --------
notebook {
  > header {
    border: none;
    background-color: mix($sidebar_bg_color, $bg_color, 50%);
    /*
    background-color: blueviolet;
    */
  }
  > stack {
    border: none;
    background-color: transparentize(mix($selected_bg_color, $bg_color, 20%), 0.7);
    /*
    background-color: red;
    */
  }
  notebook {
    > stack {
      border: none;
      background-color: transparent;
      /*
      background-color: blue;
      */
    }
  }
  .frame, & {
    border: none;
    /*
    background-color: fuchsia;
    */
  }
}


// __________________
// contained toolbars
// ------------------

%darkbar,
.toolbox,
.location-bar,
actionbar,
toolbar.inline-toolbar,
toolbar.sidebar-toolbar {
  border-color: if($variant == 'light', darken($button_borders_color, 5%), lighten($button_borders_color, 5%));
  background-color: if($variant == 'light', darken($bg_color, 5%), lighten($bg_color, 5%));
}
.dialog-action-box {
  background-color: $bg_color;
  box-shadow: inset 0px 2px mix($bg_color, $base_color, 70%), inset 0px 1px mix($bg_color, $button_borders_color, 70%);
}
textview.info-view {
  text, & {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid mix($bg_color, $button_borders_color, 80%);
    /*
    border-color: blue;
    */
  }
}
deck {
  .frame:not(:selected) {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid $borders_color;
    /*
    border: 1px solid blue;
    */
    textview.view {
      border: none;
      /*
      border: 1px solid green;
      */
      text { 
        border: none;
        box-shadow: none;
        /*
        border: 1px solid orange;
        box-shadow: inset 1px 0px red, inset 0px 1px green, inset -1px 0px blue, inset 0px -1px aqua;
        */
      }
    }
  }
  .toolbox {
    box-shadow: none;
    /*
    */
    /* hack: $border_colors not overidable??, only partial box-shadow impact
    | red: left | green: top | blue: right | aqua: bottom |
    box-shadow: inset 1px 0px red, inset 0px 1px green, inset -1px 0px blue, inset 0px -1px aqua;
    */
    /*
    box-shadow: inset 1px 0px $button_borders_color, inset 0px 1px transparent, inset -1px 0px $button_borders_color, inset 0px -1px $button_borders_color;
    margin-left: -1px;
    margin-right: -1px;
    */
  }
}

// ______________
// button borders
// --------------

button { // less flat toggled button
  &:active,
  &:checked {
    box-shadow: inset -1px -1px transparentize(lighten($button_borders_color, 15%), 0.6);
  }
}

frame > box > stack {
  //border-left: 1px solid $button_borders_color;
  border: none;
}

menu,
.menu,
.context-menu {
  border-color: $button_borders_color; // adds borders in a non composited env
}

filechooser {
  #pathbarbox {
    background-color: $bg_color;
    border-bottom: 1px solid $button_borders_color;
  }
}
filechooser .dialog-action-box {
  &:backdrop, & {
    border-top: 1px solid $button_borders_color;
  }
}
calendar,
.calendar {
  border-color: $button_borders_color;
}
actionbar > revealer > box {
  border-top: 1px solid $button_borders_color;
}
infobar {
  &.action:hover > revealer > box {
      border-bottom: 1px solid lighten($button_borders_color, 5%);
  }
  &.info,
  &.question,
  &.warning,
  &.error {
    label, & { color: red; }
    & > revealer > box {
      border-bottom: 1px solid lighten($button_borders_color, 5%);
    }
  }
}
.primary-toolbar,
notebook > stack > grid > grid {
  border-bottom: 1px solid $button_borders_color;
  border-bottom: 1px solid mix($button_borders_color, $sidebar_bg_color, 80%);
}

.keycap {
  border-color: if($variant == 'light', mix($button_borders_color, $bg_color, 50%), $button_borders_color);
  box-shadow: if($variant == 'light', inset 0 -3px mix($base_color, $bg_color, 20%), inset 0 -3px mix($button_borders_color, $base_color, 60%));
}
.titlebar:not(headerbar) {
  separator { background-color: $button_borders_color; }
}
%titlebar,
headerbar {
  &:not(.selection-mode) {
    stackswitcher button:checked,
    button:not(.flat).toggle:checked {
      border-color: darken($button_borders_color, 3%);
      border-top-color: darken($button_borders_color, 8%);
    }
  }
}
spinbutton {
  &:not(.vertical) {
    button {
      border-color: transparentize($button_borders_color, 0.7);
    }
  }
}
colorswatch {
  &.dark {
    &.activatable:hover > overlay {
      border-color: if($variant == 'light', transparentize(black, 0.2), $button_borders_color);
    }
  }
  &.light {
    &.activatable:hover > overlay {
      border-color: if($variant == 'light', transparentize(black, 0.5), $button_borders_color);
    }
  }
  &:drop(active) {
    &.light > overlay {
      box-shadow: inset 0 0 0 2px if($variant == 'light', darken($selected_bg_color, 7%), $button_borders_color),
                  inset 0 0 0 1px $selected_bg_color;
    }
    &.dark > overlay {
      box-shadow: inset 0 0 0 2px if($variant == 'light', transparentize(black, 0.7), $button_borders_color),
                  inset 0 0 0 1px $selected_bg_color;
    }
  }
  > overlay {
    border-color: if($variant == 'light', transparentize(black, 0.7), $button_borders_color);
  }
}
list row button.image-button:not(.flat) {
  border-color: transparentize($button_borders_color, .5);
  //border: 1px solid transparentize($button_borders_color, .5);
}
button.list-button:not(:active):not(:checked):not(:hover) {
  border-color: rgba($button_borders_color, 0.5);
  //border: 1px solid rgba($button_borders_color, 0.5);
}
.nautilus-window .path-bar-box {
  background-color: transparent;
  border-color: $button_borders_color;
}

%entry,
entry {
  // Vertically linked entries
  // FIXME: take care of "colored" entries
  .linked.vertical > & {
    // brighter border between linked entries
    &:not(:disabled) + entry:not(:disabled),
    &:not(:disabled) + %entry:not(:disabled) {
      border-top-color: mix($button_borders_color, $base_color, 30%);
    }
    // brighter border between linked insensitive entries
    &:disabled + %entry:disabled,
    &:disabled + entry:disabled {
      border-top-color: mix($button_borders_color, $base_color, 30%);
    }
  }
}
popover.background {
  .csd &, & {
    border-color: $button_borders_color;
  }
}
notebook {
  > header {
    > tabs {
      tab {
        padding: if($_sizevariant == 'default', 3px 12px, 1px 5px);
        //background
        &:hover,
        &:checked,
        &.reorderable-page:hover,
        &.reorderable-page:checked {
          background-color: if($variant == 'light', transparentize(mix($selected_bg_color, $bg_color, 20%), 0.7), $base_color);
        }
        //border
        &:hover:not(:checked) {
          &.reorderable-page {
            border-color: transparentize($button_borders_color, 0.7);
          }
        }
        &:checked {
          &.reorderable-page {
            border-color: transparentize($button_borders_color, 0.5);
          }
        }
        &:hover {
          button:hover image {
            color: $selected_fg_color;
          }
        }
      }
    }
    &.top {
      > tabs {
        > tab {
          &:hover:not(:checked) { box-shadow: inset 0 -4px $button_borders_color; }
        }
      }
    }
    &.bottom {
      > tabs {
        > tab {
          &:hover:not(:checked) { box-shadow: inset 0 4px $button_borders_color; }
        }
      }
    }
    &.left {
      > tabs {
        > tab {
          &:hover:not(:checked) { box-shadow: inset -4px 0 $button_borders_color; }
        }
      }
    }
    &.right {
      > tabs {
        > tab {
          &:hover:not(:checked) { box-shadow: inset 4px 0 $button_borders_color; }
        }
      }
    }
  }
}
scrollbar {
  // scrollbar border
  &.top { border-bottom: 1px solid $button_borders_color; }
  &.bottom { border-top: 1px solid $button_borders_color; }
  &.left { border-right: 1px solid $button_borders_color; }
  &.right { border-left: 1px solid $button_borders_color; }
}
treeview ~ scrollbar.vertical {
  border-top: none;
  margin-top: 0;
}
scrolledwindow {
  junction { // the small square between two scrollbars
    border-image: linear-gradient(to bottom, $button_borders_color 1px, transparent 1px) 0 0 0 1 / 0 1px stretch;
  }
}
stacksidebar.sidebar:dir(ltr) list, stacksidebar.sidebar.left list, stacksidebar.sidebar.left:dir(rtl) list, .sidebar:not(separator):dir(ltr), .sidebar:not(separator).left {
  //border-right: 1px solid $button_borders_color;
  border-left-style: none;
  border-right-style: none;
}
stacksidebar.sidebar:dir(rtl) list, stacksidebar.sidebar.right list, .sidebar:not(separator):dir(rtl), .sidebar:not(separator).right {
  //border-left: 1px solid $button_borders_color;
  border-left-style: none;
  border-right-style: none;
}
separator.sidebar,
.solid-csd decoration,
.titlebar:not(headerbar) separator {
  background-color: $button_borders_color;
}
paned > separator,
scale.color trough {
  background-image: image($button_borders_color);
}
paned > separator.wide,
paned > separator.wide:backdrop {
  background-image: image($button_borders_color), image($button_borders_color);
}

// ________
// toolbars
// --------

%toolbar {
  padding: 0;
}
toolbar {
  @extend %toolbar;
  padding: 2px 4px 1px 4px;
}
//searchbar, location-bar & inline-toolbar
.inline-toolbar {
  @extend %toolbar;
  @extend %darkbar;
  padding: 1px 3px 1px 3px;
}
searchbar > revealer > box,
.location-bar {
  @extend %toolbar;
  @extend %darkbar;
  padding: 2px;
}
infobar {
  &.info,
  &.question,
  &.warning,
  &.error,
  &.action:hover {
    & > revealer > box {
      label { color: #4d4d4d; }
      button label { color: $fg_color; }
      background-color: #f5f5b5;
    }
  }
}
/*
// rhythmbox primary-toolbar border-bottom
// stuck to $borders_color, whatever setted to, like:
// border-bottom: 1px solid $button_borders_color;
// workaround : no border-bottom
.primary-toolbar {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
*/


// ____
// misc
// ----

radio,
check {
  &:checked, &:indeterminate {
    transition: 150ms; //vs 300ms
  }
}


// _____________________
// panel: Cf _panel.scss
// ---------------------


// __________________________
// colorproof #7b94c8 #9cbce0
// --------------------------
.listbox,
.colorproof,
.colorproof-childs > *
{
    color: #ff00ff;
    background-color: red;
    border-color: brown;
    box-shadow: none;
}

