// _____
// panel
// -----

#panel {
  color: $light_4;
  background-color: black;
  .popup-menu-arrow { // keep pop-down, without there is a weird empty space
    color: inherit;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .panel-corner {
    -panel-corner-radius: 6px;
    &:active, &:overview, &:focus {
      -panel-corner-border-color: $selected_bg_color;
    }
  }
  .panel-button {
    font-weight: bold;
    color: inherit;
    border-radius: 6px;
    box-shadow: none;
    border: 4px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;

    &.clock-display {
      &:hover, &:overview, &:focus {
        background-color: #333;
      }
      &:active, &:checked {
        background-color: transparent;
      }
    }
    &:hover, &:overview, &:focus {
      border-color: #333;
    }
    &:active, &:checked {
      box-shadow: none;
      border-radius: 0;
      border-color: $selected_bg_color;
      background-color: transparent;
    }
  }
}


